// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';
@import "/node_modules/select2/dist/css/select2.css";
#quote-content {
background: #333;
color: white;
font-weight: bold;
padding: 4px 8px;
font-size: 12px;
border-radius: 4px;
max-width: 50%;
}
#arrow,
#arrow::before {
position: absolute;
width: 8px;
height: 8px;
background: inherit;
}

#arrow {
visibility: hidden;
}

#arrow::before {
visibility: visible;
content: '';
transform: rotate(45deg);
}
#quote-content[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }
  
  #quote-content[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }
  
  #quote-content[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }
  
  #quote-content[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }
  #quote-content {
    /* ... */
    display: none;
  }
  
  #quote-content[data-show] {
    display: block;
  }
.input-bb{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    outline: none;
    padding-left: 0 !important;
}
.input-bb:read-only{
    border-style: dotted;
    border-width: 0.2em;
    background-color: white !important;
    cursor: not-allowed;
    padding-left: 0 !important;
}
.input-date{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    outline: none;
    padding-left: 0 !important;

}
.select-form{
    width:100% !important;
}

.select2 {
    width:100%!important;
}
.level-two{
    /* width:225px !important; */
    /* padding-left:30px !important; */
    margin-left:10px;
    font-size: 15;
}
.level-three{
    /* padding-left:50px !important; */
    margin-left:20px;
    font-size: 13px;
}
.level-four{
    /* width:195px !important; */
    /* padding-left:70px !important; */
    margin-left:30px;
    font-size: 8px;
}

.add-btn{
    margin-top:20px;
}

.main-menu-item:hover{
    background-color: #ade5ff;
}
.main-menu-item-b:hover{
    background-color: #a8b3b0;
}

.main-menu-item{
    color: black !important;
    cursor: pointer;
}
.main-menu-item-b{
    color: black !important;
    cursor: pointer;
}
.scrollable{
    height: inherit;
    overflow: auto;
}
.indent_first{
    margin-left: 0px;
}
.indent_second{
    margin-left: 20px;
}
.indent_third{
    margin-left: 40px;
}